*{
  margin: 0;
  padding: 0;

}
img{
  width: 115px;
  height: 35px;
  padding-left: 50px;
  padding-top: 28px;
}
.help{
  font-size: 13px;
  text-align: right;
  padding-right: 35px;
}
body{
  background: #fff;
}
.img2{
  padding-top: 50px;
  padding-right: 45px;
  width: 100px;
  height: 30px;
  text-align: center;
}
.signin{
  padding-top: 45px;
  text-align: center;
  font-style: bold;
  font-size: 22px;
}
.text{
  font-size: 11px;
  padding-bottom: 20px;
  text-align: center;
}
.desc{
  padding-top: 100px;
  font-size: 20px;
  text-align: left;
  margin-left: 100px;
}

form{
  width: 320px;
  margin: 40px;
  padding-top: 0px;
  margin-right: 150px;
  border: 1px solid black;
  border-radius: 5px;
  border-color: lightgray;
  text-align: center;
}
label{
  font-size: 10px;
  color: #188fff;
}
.email{
  margin:20px;
  margin-top: 30px;
  width: 200px;
  height:20px;
  outline: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 2px;
  border-color: lightgray
}
.next{
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  height: 30px;
  width: 200px;
  background: #188fff;
  border:#188fff;

}
.next1{
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 40px;
  border-radius: 10px;
  color: #188fff;
  height: 30px;
  width: 200px;
  background: white;
  border-color: #188fff;
  border-width: 2px;
  outline: 0px;
}
.forgotlink{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 10px;
  margin-top:20px;
  text-align: right;
}
.d{
display: flex;
flex-direction: column;
margin-right: 20px;
}
.di{
  display: flex;
  flex-direction: row;
  width:100%;

}
@media only screen and (max-width: 800px) {
  form,.desc{
    width:80%;
    padding-top: 40px;

  }
  .di{
    display: flex;
    flex-direction: column ;
    width: 100%;
  }
  .desc{
    margin: 20px;
    padding: 30px;
    font-size: 18px;
  }
  .img2{
    padding-right: 45px;
  }
  .help{
    text-align: right;
    margin-right: 40px;
  }
}
